.signIn {
  height: 100%; }
  .signIn .wrap {
    background: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px; }
  .signIn .title {
    margin-bottom: 10px;
    text-align: center; }
  .signIn .student {
    margin-bottom: 0px; }
  .signIn .center_btn {
    text-align: center; }
    .signIn .center_btn a {
      display: inline-block;
      width: 200px;
      margin: 20px 0; }
      .signIn .center_btn a button {
        width: 100%; }
  .signIn .authcode, .signIn .runtime {
    padding: 0 15px 0 0;
    text-align: right; }
    .signIn .authcode .horizon, .signIn .runtime .horizon {
      display: inline-block;
      width: 1px;
      background: #ff9966;
      height: 15px;
      margin: 0 5px;
      margin-bottom: -2px; }
    .signIn .authcode span, .signIn .runtime span {
      line-height: 34px;
      color: #ff9966; }
  .signIn .authcode {
    display: block; }
  .signIn .runtime {
    display: none; }
  .signIn .index_img {
    margin-top: 20px; }
  .signIn .images {
    position: relative; }
    .signIn .images img {
      width: 100%; }
    .signIn .images .position_btn {
      position: absolute;
      right: 30px;
      bottom: 15px; }
  @media (min-width: 768px) {
    .signIn .title {
      text-align: center; }
    .signIn .student {
      margin-bottom: 20px; } }
  .signIn .text {
    font-size: 12px; }
  .signIn .line {
    border-bottom: 1px solid #999;
    margin-bottom: 20px; }
  .signIn .radio label {
    margin-right: 20px; }
  .signIn .radio > i {
    display: none; }
  .signIn .submit-form {
    text-align: center; }
    .signIn .submit-form .submit {
      width: 200px; }
  .signIn .isPay, .signIn .invoice, .signIn .danweipay {
    display: none; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left; } }

@media (min-width: 1200px) {
  .form-horizontal .control-label {
    text-align: right; } }
