.pay_success {
  width: 100%;
  height: 100%; }
  .pay_success section {
    width: 100%;
    height: 100%;
    padding-top: 180px; }
    .pay_success section p {
      text-align: center;
      margin: 0 0 10px; }
      .pay_success section p span {
        font-size: 24px;
        color: #ff6600;
        padding: 0 5px; }
    .pay_success section .wrap {
      text-align: center; }
      .pay_success section .wrap a {
        margin: 0 10px; }
