.register_success {
    width: 100%;
    height: 100%;
  section {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    p {
      text-align: center;
      margin: 0 0 10px;
    }
    .wrap {
      text-align: center;
    }
  }
}
